absl-py
accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
antlr4-python3-runtime
anyio
attrs
beartype
better-abc
black
blobfile
certifi
cfgv
chardet
charset-normalizer
click
colorama
contourpy
cuda-bindings
cuda-pathfinder
cuda-toolkit
cycler
dataproperty
datasets
diffusers
dill
distlib
einops
evaluate
fancy-einsum
filelock
fonttools
frozenlist
fsspec
gitdb
gitpython
h11
hf-xet
httpcore
httpx
huggingface-hub
hydra-core
identify
idna
importlib-metadata
iniconfig
jaxtyping
jinja2
joblib
jsonlines
kiwisolver
lightning-utilities
lm-eval
lxml
markdown-it-py
markupsafe
matplotlib
mbstrdecoder
mdurl
more-itertools
mpmath
multidict
multiprocess
mypy-extensions
networkx
nltk
nodeenv
numpy
nvidia-cublas
nvidia-cuda-cupti
nvidia-cuda-nvrtc
nvidia-cuda-runtime
nvidia-cudnn-cu13
nvidia-cufft
nvidia-cufile
nvidia-curand
nvidia-cusolver
nvidia-cusparse
nvidia-cusparselt-cu13
nvidia-nccl-cu13
nvidia-nvjitlink
nvidia-nvshmem-cu13
nvidia-nvtx
omegaconf
packaging
pandas
pathspec
pathvalidate
pillow
platformdirs
pluggy
portalocker
pre-commit
propcache
protobuf
psutil
pyarrow
pycryptodomex
pydantic
pydantic-core
pygments
pyparsing
pytablewriter
pytest
python-dateutil
python-discovery
pytokens
pytz
pyyaml
regex
requests
rich
rouge-score
sacrebleu
safetensors
scikit-learn
scipy
sentencepiece
sentry-sdk
setuptools
shellingham
six
smmap
sqlitedict
sympy
tabledata
tabulate
tcolorpy
threadpoolctl
tokenizers
torch
torchmetrics
torchvision
tqdm
transformer-lens
transformers
transformers-stream-generator
triton
typeguard
typepy
typer
typing-extensions
typing-inspection
urllib3
virtualenv
wadler-lindig
wandb
word2number
xxhash
yarl
zipp
zstandard
